.demo_changer .demo-icon {
  background: #e24545;
}

.slider-discount span {
  color: #e24545;
}

.border-line:before {
  background: #e24545;
}

.main-slider .sp-buttons .sp-selected-button,
.main-slider .sp-buttons .sp-button:hover {
  background: #e24545;
  border-color: #e24545;
  cursor: pointer;
}

/* owl controls */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e24545 !important;
  border: 1px solid #e24545 !important;
}

/* bx controls */
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #e24545 !important;
  border: 1px solid transparent !important;
}

.demo_changer .demo-icon {
  background: #e24545;
}

.slider-discount span {
  color: #e24545;
}

.border-line:before {
  background: #e24545;
}

.main-slider .sp-buttons .sp-selected-button,
.main-slider .sp-buttons .sp-button:hover {
  background: #e24545;
  border-color: #e24545;
  cursor: pointer;
}

/* header */
header .b-logo span:first-child:first-letter {
  color: #e24545;
}

header .b-header-menu a.heading-line:before {
  background: transparent;
}

header .b-header-menu a:hover, header .b-header-menu a.open-active {
  color: #e24545;
}

header .b-header-main.style-2 .b-header-menu a:hover, header .b-header-menu a.open-active {
  text-decoration: none;
  color: #e24545 !important;
}

header .b-header-menu a:hover.heading-line:before, header .b-header-menu a.open-active.heading-line:before {
  background: #e24545;
}

header .b-header-menu .search.active a {
  color: #e24545;
}

header #cart i {
  color: #e24545;
}

header .b-header-main.style-2 #cart .counter{
  background: #e24545;
}

header .all-menu-content .all-menu-title {
  color: #e24545;
}

/* footer */
footer {
  border-top: 3px solid #e24545;
}

footer .b-logo span:first-child:first-letter {
  color: #e24545;
}

footer .footer-menu-item a:hover:before {
  color: #e24545;
}

footer .footer-socials .b-socials li a:hover {
  background: #e24545;
}

/* rating stars */
.rating .star i {
  color: #e24545;
}

.rating .star.star-empty i {
  color: #888888;
}

/* header */
.b-top-line .nav .dropdown-menu li a:hover {
  color: #e24545;
}
header .b-header-menu a.heading-line:before {
  background: transparent;
}
header .b-header-menu a:hover, header .b-header-menu a.open-active {
  text-decoration: none;
  color: #e24545;
}
header .b-header-menu a:hover.heading-line:before, header .b-header-menu a.open-active.heading-line:before {
  background: #e24545;
}
header .b-header-menu .search.active a {
  color: #e24545;
}
header .b-cart:hover #cart {
  background: #e24545;
}
header .all-menu-content .all-menu-title {
  color: #e24545;
}
header .all-menu-item a {
  color: #444444;
}

/* rating stars */
.rating .star i {
  color: #e24545;
  font-size: 15px;
}
.rating .star.star-empty i {
  color: #888888;
}

.section-home .b-store-features .feature-icon {
  color: #e24545;
}

.b-store-features .feature-icon {
  color: #e24545;
}

.caption .product-price {
  color: #e24545;
}

.cart-add-buttons #add-cart1 {
  background: #e24545;
}

.heading-line::before, .heading-line-long::before {
  background: #e24545;
}

.image::after {
  background: #e24545;
}

.b-item-card .add-buttons button:hover {
  background: #e24545 !important;
}
.detail-buttons .add-buttons .btn:hover {
  background: #e24545;
}

.detail-buttons .add-buttons.custom-add-buttons .btn:hover {
  background: none;
}
.detail-buttons .add-buttons.custom-add-buttons .btn:hover i {
  color: #e24545;
}

.tags-buttons .btn-tag.active {
  background: #e24545;
}

.tags-buttons .btn-tag:hover {
  background: #e24545;
}

.ds-custom .ds-element .ds-element-value:after {
  background: #e24545;
}

.b-grid.b-grid-list .b-item-card .card-info .product-name:before {
  background: #e24545;
}

/* blog */
.post-data {
  background: #e24545;
}

.b-posts-switcher .switch-previous,
.b-posts-switcher .switch-next {
  border-bottom: 2px solid #e24545;
}

.b-posts-switcher .switch-link:hover span {
  color: #e24545;
}

.comment-body .comment-author .comment-reply {
  color: #e24545;
}

.filter-smart-item .smart-caption p {
  border-bottom: 2px solid #e24545;
}
.filter-smart-item:hover .smart-caption p {
  background: #e24545;
}

.b-home-blog.home-blog-mod .b-post-preview .post-caption .caption::before {
  /*background: #e24545;*/
}

/* tables */
.table thead tr td {
  border-bottom: 4px solid #e24545;
}

.table thead tr td span::after {
  background: #e24545;
}

.product-price.total-price {
  color: #e24545;
}

.b-total-table table tbody .total td:last-child {
  color: #e24545;
}

/* quotes */
.b-blockquote-fa-quote-circle .circle-block .circle-author .circle-author-role {
  color: #e24545;
}

.b-blockquote-fa-quote-circle .circle-block .circle-author::before {
  background: #e24545;
}

/* price-slider filter*/
.ui-slider-horizontal .ui-slider-range {
  background: #e24545;
}

.ui-slider .ui-slider-handle {
  border: 2px solid #e24545;
}

/* buttons */
button[type="submit"] {
  /*border: 2px solid #e24545;*/
}

.btn-primary-color2, .btn-cart-color2 {
  background: #e24545;
  border: 2px solid #e24545;
}

.btn-default-color2, .btn-label-color2 {
  border: 2px solid #e24545;
}

.btn-default-color2:hover, .btn-label-color2:hover {
  background: #e24545;
}

.add-buttons .btn-add-cart-color2,
.add-buttons .btn-add-wish-color2 {
  background: #e24545;
}
.qty-block .spinner-btn-mod:hover {
  background: #e24545;
}

/* pagination */
.pagination-mod.pagination-color1 li.active a {
  color: #e24545;
}
.pagination-mod.pagination-color2 li.active a {
  border: 2px solid #e24545;
  background: #e24545;
}

.b-contact-info .info-title i {
  color: #e24545;
}

/* checkbox/radio */
/* checkbox + radio */
.radio1 label:before {
  background: #e24545;
}

.radio2 input[type=radio]:checked + label:after {
  background-color: #e24545;
}

.checkbox-2 input[type=checkbox]:checked + label:before {
  background: #e24545;
}
/* progress bar */
.progress.progress-color2 .progress-bar {
  background: #e24545;
}
.progress.progress-mod.progress-color2 {
  border: 2px solid #e24545;
}
.progress.progress-mod.progress-color2 .progress-bar {
  background: #e24545;
}

/*highlight*/
.highlight-primary {
  background: #e24545;
}

.highlight-primary-nobg {
  color: #e24545;
}

/* tooltips */
.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #e24545;
}

.red-tooltip + .tooltip > .tooltip-arrow {
  border-top-color: #e24545;
}

.black-tooltip {
  color: #e24545;
}

/* lists */
.b-list.long-arrow-right li:before {
  color: #e24545;
}

.b-list.l-checked .l-not-check:before {
  color: #e24545;
}

.b-list.chevron li:before {
  color: #e24545;
}

.b-list.l-checked-square .l-check-square:before {
  color: #e24545;
}
.b-list.l-checked-square .l-not-check-square:before {
  color: #e24545;
}

.b-list.heart-o li:before {
  color: #e24545;
}

.b-list.l-numered span {
  color: #e24545;
}

/*Dropcap styles*/
.b-round-dropcap .round-dropcap {
  background: #e24545;
}

/*Blockquote Style*/
.b-blockquote-fa-quote .quote-text {
  color: #e24545;
}

.b-blockquote-left-border {
  position: relative;
  padding: 3px 0;
}
.b-blockquote-left-border:before {
  background: #e24545;
}

.b-blockquote-fa-quote-circle.quote-circle-mod-2 {
  border: 4px solid #e24545;
}

/* 404 block */
.empty-b .zero-change .st0{
  fill:#e24545;
}
