/* Rating Star Widgets Style */
/*#wrapper-detail-news .plug-in-facebook .rate .rating-stars ul {*/
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*margin: 0 auto;*/
/*}*/

/*#wrapper-detail-news .plug-in-facebook .rate .rating-stars ul > li.star {*/
    /*display: inline-block;*/
/*}*/

/*!* Idle State of the stars *!*/
/*#wrapper-detail-news .plug-in-facebook .rate .rating-stars ul > li.star > i.fa {*/
    /*font-size: 2em; !* Change the size of the stars *!*/
    /*color: #ccc; !* Color on idle state *!*/
/*}*/

/*!* Hover state of the stars *!*/
/*#wrapper-detail-news .plug-in-facebook .rate .rating-stars ul > li.star.hover > i.fa {*/
    /*color: #FFCC36;*/
/*}*/

/* Selected state of the stars */
/*#wrapper-detail-news .plug-in-facebook .rate .rating-stars ul > li.star.selected > i.fa {*/
    /*color: #FF912C;*/
/*}*/

/* Rating Star Widgets Style */
.rating .rating-stars ul > li.star {
    display: inline-block;
}

/* Idle State of the stars */
.rating .rating-stars ul > li.star > i.fa {
    font-size: 1.5em; /* Change the size of the stars */
    color: #ccc; /* Color on idle state */
    margin-right: 6px;
}

.rating .rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}

/* Selected state of the stars */
.rating .rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}

/* Rating Star Widgets Style */
.rating .rating-stars ul {
    list-style-type: none;
    /*padding: 0;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    /*margin: 0 auto;*/
}




/*#container-chitietdiadiem .plug-in-facebook .rate .rating-stars ul {*/
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*margin: 0 auto;*/
/*}*/

/*#container-chitietdiadiem .plug-in-facebook .rate .rating-stars ul > li.star {*/
    /*display: inline-block;*/
/*}*/

/*!* Idle State of the stars *!*/
/*#container-chitietdiadiem .plug-in-facebook .rate .rating-stars ul > li.star > i.fa {*/
    /*font-size: 2em; !* Change the size of the stars *!*/
    /*color: #ccc; !* Color on idle state *!*/
/*}*/

/*#container-chitietdiadiem .plug-in-facebook .rate .rating-stars ul > li.star.hover > i.fa {*/
    /*color: #FFCC36;*/
/*}*/

/*!* Selected state of the stars *!*/
/*#container-chitietdiadiem .plug-in-facebook .rate .rating-stars ul > li.star.selected > i.fa {*/
    /*color: #FF912C;*/
/*}*/
