.wrs_links {
    margin: 10px auto;
    margin-bottom :0px;
    font-family : arial, sans-serif;
    padding: 6px;

}

.wrs_links > a {
    text-decoration: none;
    color: #778e9a;
}


.wrs_button_cancel {
    min-width: 80px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #778e9a;
    padding: 6px 8px;
    margin: 10px auto;
    margin-left: 5px;
    margin-bottom :0px;
    cursor: pointer;
    font-family : arial, sans-serif;
}

.wrs_button_accept {
    min-width: 80px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #778e9a;
    padding: 6px 8px;
    margin: 10px auto;
    margin-right: 5px;
    margin-bottom :0px;
    color : #ffffff;
    background : #778e9a;
    cursor: pointer;
    font-family : arial, sans-serif;
}

.wrs_editor_vertical_bar {
    height: 20px;
    float: right;
    background: none;
    width: 20px;
    cursor: pointer;
}
.wrs_buttonContainer {
    display: inline;
}

.wrs_buttonContainer.wrs_modalAndroid {
    padding-left: 6px;
}

..wrs_buttonContainer.wrs_modalDesktop {
    padding-left: 0px;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    #container {
        width : 140%;
    }
}


/*iPad and iPad Mini*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .wrs_container.wrs_modalIos {
        width: 100vw    !important;
        height: 100vh   !important;
    }

    .wrs_editorContainer.wrs_modalIos {
        width: 100vw    !important;
        height: 89vh   !important;
    }

    .wrs_controls.wrs_modalIos {
        width: 100vw    !important;
        height: 11vh   !important;
    }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .wrs_container.wrs_modalIos {
        width: 100vw    !important;
        height: 100vh   !important;
    }

    .wrs_editorContainer.wrs_modalIos {
        width: 100vw    !important;
        height: 87vh   !important;
    }

    .wrs_controls.wrs_modalIos {
        width: 100vw    !important;
        height: 13vh   !important;
    }
}

/*iPhone5*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

    .wrs_container.wrs_modalIos {
        display: inline;
        width: 320px    !important;
        height: 100vh    !important;
    }

    .wrs_editorContainer.wrs_modalIos {
        width: 320px    !important;
        height: 79vh    !important;
    }

    .wrs_controls.wrs_modalIos {
        width: 320px    !important;
        height: 21vh    !important;
        vertical-align: middle;
    }
}
.wrs_tickContainer {
    display: none !important;
}-